.loading {
  text-align: center;
  margin-top: 13rem;
  font-weight: bold;
  font-size: 150px;
  animation: rotate360 5s;
  animation-iteration-count: infinite;
  transform: rotate(180deg);
}

.loadText {
  text-align: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-wrap: break-word;
}

@keyframes rotate360 {
  0% {
    rotate: 0deg;
  }
  33% {
    rotate: 120deg;
  }
  66% {
    rotate: 240deg;
  }
  100% {
    rotate: 360deg;
  }
}

body {
  background-image: linear-gradient(to bottom right, gray, white);
  background-size: auto;
}

.fill {
  height: 14.5rem;
}
